{% extends 'baselandlord.html' %} 
{% load static %}
{% load bootstrap4 %} 

{% block header %} 
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico"/>
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/noui/nouislider.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!--===============================================================================================-->
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700'>
<!--===============================================================================================-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!------------------------------------------------------------------------------------------------->
{% endblock %}
<!--  ------------------------------------------------------------------------------------------------------------------------->
{% block content %} 

<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" name="form" action="/property/registerform/" method="post" enctype="multipart/form-data">    
            {% csrf_token %}
            <span class="contact100-form-title">
                Property Details
            </span>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                <span class="label-input100">Property Display Name *</span>
                <input class="input100" type="text" name="name" placeholder="Enter Your Property Name" pattern="^[A-Za-z0-9 ]*[A-Za-z0-9][A-Za-z0-9 ]*$" required>
            </div>

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
					<span class="label-input100">Minimum stay *</span>
					<div>
							<select class="js-select2" name="minstay" required>
								<option>1</option>
								<option>6</option>
								<option>12</option>
							</select>
							<div class="dropDownSelect2"></div>
						</div>
				</div>
            <!-- Section 1 -->
            
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">Number of Rooms *</span>
                <input class="input100" type="number" name="rcapacity" placeholder="Enter room capacity" pattern="[1-9][0-9]*" min="1" max="6" required>
            </div> 

            <!-- Section 1 -->
            <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
                <span class="label-input100">Property Type *</span>
                <div>
                    <select class="js-select2" name="pcategory" required>
                        <option>Apartment</option>
                        <option>Bunglow</option>
                        <option>Row House</option>
                        <option>Regular House</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <div class="wrap-input100 bg1 rs1-wrap-input100">
                <span class="label-input100">SQFT</span>
                <input class="input100" type="number" name="sqft" placeholder="SQFT" min="600" max="5000" required>
            </div>

            <!-- Section 1 -->
            <div class="container rs1-wrap-input101">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload1" onchange="readURL1(this);" accept=".png, .jpg, .jpeg" name="img1" required/>
                            <label for="imageUpload1"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview1" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShWRGsR0Le1xykGO-AkCftGoGNV4intja38B_azsJjhgdGjM1m')">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Section 1 -->
                <div class="container rs1-wrap-input101">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload2" onchange="readURL2(this);" accept=".png, .jpg, .jpeg" name="img2" />
                                <label for="imageUpload2"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview2" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShWRGsR0Le1xykGO-AkCftGoGNV4intja38B_azsJjhgdGjM1m);">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Section 1 -->
                    <div class="container rs1-wrap-input101">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type='file' id="imageUpload3" onchange="readURL3(this);" accept=".png, .jpg, .jpeg" name="img3" />
                                    <label for="imageUpload3"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview3" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShWRGsR0Le1xykGO-AkCftGoGNV4intja38B_azsJjhgdGjM1m);">
                                    </div>
                                </div>
                            </div>
                        </div>


            <!-- Section 2 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">Street 1 *</span>
                <input class="input100" type="text" name="s1" placeholder="Enter street 1 address" pattern="^[A-Za-z0-9 ]*[A-Za-z0-9][A-Za-z0-9 ]*$" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">Street 2 *</span>
                <input class="input100" type="text" name="s2" placeholder="Enter street 2 address" pattern="^[A-Za-z0-9 ]*[A-Za-z0-9][A-Za-z0-9 ]*$">
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">Landmark 1 *</span>
                <input class="input100" type="text" name="l1" placeholder="Enter landmark 1 address" pattern="^[A-Za-z0-9 ]*[A-Za-z0-9][A-Za-z0-9 ]*$" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">Landmark 2 *</span>
                <input class="input100" type="text" name="l2" placeholder="Enter landmark 2 address" pattern="^[A-Za-z0-9 ]*[A-Za-z0-9][A-Za-z0-9 ]*$">
            </div>

            <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your locality">
                <span class="label-input100">Locality Name *</span>
                <input class="input100" type="text" name="locality" placeholder="Enter Your Locality Name" pattern="^[A-Za-z0-9 ]*[A-Za-z0-9][A-Za-z0-9 ]*$" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">City *</span>
                <input class="input100" type="text" name="city" placeholder="Enter city" pattern="^[A-Za-z ]*[A-Za-z][A-Za-z ]*$" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">District *</span>
                <input class="input100" type="text" name="district" placeholder="Enter district" pattern="^[A-Za-z ]*[A-Za-z][A-Za-z ]*$" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">House Number *</span>
                <input class="input100" type="number" name="houseno" placeholder="Enter house no." pattern="^[0-9][1-9]+$" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">Pincode *</span>
                <input class="input100" type="text" name="pin" placeholder="Enter pincode" pattern="^[1-9]([0-9]{5})$" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">State *</span>
                <input class="input100" type="text" name="state" placeholder="Enter state" pattern="^[A-Za-z ]*[A-Za-z][A-Za-z ]*$" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Address">
                <span class="label-input100">Country *</span>
                <div>
                    <select class="js-select2" name="country" required>
                        <option>India</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <!-- <input class="input100" type="text" name="country" placeholder="Enter country" pattern="([A-Za-z]*3)[A-Za-z]*" required> -->
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
                <span class="label-input100">Enter your property Description</span>
                <textarea class="input100" name="description" type="textarea" placeholder="Enter your house description here..." required></textarea>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 bg1 rs1-wrap-input102">
                    <span class="label-input100">Amenities</span>
                    <select multiple data-placeholder="Select what your place offers" name="amenities" required>
                            <option value="Cupboard">Cupboard</option>
                            <option value="Curtains">Curtains</option>
                            <option value="Lift">selected>Lift</option>
                            <option value="Air conditioner">Air conditioner</option>
                            <option value="Water Cooler">Water Cooler</option>
                            <option value="Chair">Chair</option>
                            <option value="RO Purifier">RO Purifier</option>
                            <option value="DressingMirror">DressingMirror</option>
                            <option value="T0able">Table</option>
                            <option value="LPG Connection">LPG Connection</option>
                            <option value="Bookshelf">Bookshelf</option>
                            <option value="Mattress">Mattress</option>
                            <option value="Pillows">Pillows</option>
                            <option value="Shoe Rack">Shoe Rack</option>
                            <option value="Geyser">Geyser</option>
                            <option value="Washing Machine">Washing Machine</option>
                            <option value="Refrigerator">Refrigerator</option>
                        </select>
                </div>
                
                <!-- Section 1 -->
                <div class="wrap-input100 bg1 rs1-wrap-input101">
                        <span class="label-input100">Available from</span>
                        <input class="input103" type="date" name="adate" id="availabledate" required>
                    </div>

            <!-- Section 1 -->
            <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
                <span class="label-input100">Is Balcony available*</span>
                <div>
                    <select class="js-select2" name="balcony" required>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
                <span class="label-input100">Washroom Style*</span>
                <div>
                    <select class="js-select2" name="washroom" required>
                        <option>Indian</option>
                        <option>European</option>
                        <option>Indian/European</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 bg1 rs1-wrap-input100">
                <span class="label-input100">Rent per month*</span>
                <input class="input100" type="number" name="rentamt" placeholder="RPM" min="1000" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 bg1 rs1-wrap-input100">
                <span class="label-input100">Security Deposit*</span>
                <input class="input100" type="number" name="deposit" placeholder="Security deposit" min="1000" required>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
                <span class="label-input100">Tenant Category*</span>
                <div>
                    <select class="js-select2" name="tcategory" required>
                        <option>Couple</option>
                        <option>Family</option>
                        <option>Bachelor</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <!-- Section 1 -->
            <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
                <span class="label-input100">Renting Type*</span>
                <div>
                    <select class="js-select2" name="rcategory" required>
                        <option>Sharing</option>
                        <option>Private</option>
                        <option>Both</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <!-- Section 1 -->
            <div class="container-contact100-form-btn">
                <button type="submit" class="contact100-form-btn" value="Submit">
                    <span>
                        Submit
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
	var today = new Date().toISOString().split('T')[0];
	document.getElementsByName("adate")[0].setAttribute('min', today);
</script>
<script>
function readURL1(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview1').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview1').hide();
            $('#imagePreview1').fadeIn(650);
        };
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload1").change(function() {
    readURL1(this);
});
</script>
<script>
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imagePreview2').css('background-image', 'url('+e.target.result +')');
                $('#imagePreview2').hide();
                $('#imagePreview2').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload2").change(function() {
        readURL2(this);
    });
    </script>
    <script>
        function readURL3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview3').css('background-image', 'url('+e.target.result +')');
                    $('#imagePreview3').hide();
                    $('#imagePreview3').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload3").change(function() {
            readURL1(this);
        });
        </script>
<!--===============================================================================================-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
    </script>
    
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/noui/nouislider.min.js' %}"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script>
	$(document).ready(function() {

var select = $('select[multiple]');
var options = select.find('option');

var div = $('<div />').addClass('selectMultiple');
var active = $('<div />');
var list = $('<ul />');
var placeholder = select.data('placeholder');

var span = $('<span />').text(placeholder).appendTo(active);

options.each(function() {
	var text = $(this).text();
	if($(this).is(':selected')) {
		active.append($('<a />').html('<em>' + text + '</em><i></i>'));
		span.addClass('hide');
	} else {
		list.append($('<li />').html(text));
	}
});

active.append($('<div />').addClass('arrow'));
div.append(active).append(list);

select.wrap(div);

$(document).on('click', '.selectMultiple ul li', function(e) {
	var select = $(this).parent().parent();
	var li = $(this);
	if(!select.hasClass('clicked')) {
		select.addClass('clicked');
		li.prev().addClass('beforeRemove');
		li.next().addClass('afterRemove');
		li.addClass('remove');
		var a = $('<a />').addClass('notShown').html('<em>' + li.text() + '</em><i></i>').hide().appendTo(select.children('div'));
		a.slideDown(400, function() {
			setTimeout(function() {
				a.addClass('shown');
				select.children('div').children('span').addClass('hide');
				select.find('option:contains(' + li.text() + ')').prop('selected', true);
			}, 500);
		});
		setTimeout(function() {
			if(li.prev().is(':last-child')) {
				li.prev().removeClass('beforeRemove');
			}
			if(li.next().is(':first-child')) {
				li.next().removeClass('afterRemove');
			}
			setTimeout(function() {
				li.prev().removeClass('beforeRemove');
				li.next().removeClass('afterRemove');
			}, 200);

			li.slideUp(400, function() {
				li.remove();
				select.removeClass('clicked');
			});
		}, 600);
	}
});

$(document).on('click', '.selectMultiple > div a', function(e) {
	var select = $(this).parent().parent();
	var self = $(this);
	self.removeClass().addClass('remove');
	select.addClass('open');
	setTimeout(function() {
		self.addClass('disappear');
		setTimeout(function() {
			self.animate({
				width: 0,
				height: 0,
				padding: 0,
				margin: 0
			}, 300, function() {
				var li = $('<li />').text(self.children('em').text()).addClass('notShown').appendTo(select.find('ul'));
				li.slideDown(400, function() {
					li.addClass('show');
					setTimeout(function() {
						select.find('option:contains(' + self.children('em').text() + ')').prop('selected', false);
						if(!select.find('option:selected').length) {
							select.children('div').children('span').removeClass('hide');
						}
						li.removeClass();
					}, 400);
				});
				self.remove();
			})
		}, 300);
	}, 400);
});

$(document).on('click', '.selectMultiple > div .arrow, .selectMultiple > div span', function(e) {
	$(this).parent().parent().toggleClass('open');
});

});
</script>
{% endblock %}
